<!DOCTYPE html>
<html>

<head>
    <%- include('partials/head'); %>
</head>

<body>
    <header><%- include('partials/header'); %></header>
    <main>
        <div class="container-fluid">
            <form action="/tasks/update/<%= ownerId %>?id=<%= task._id %>" method="post" class="col-auto">
                <div class="form-group">
                    <input type="text" class="form-control" id="title" name="title" aria-describedby="title"
                        placeholder="Title" value="<%= task.title %>" required />
                    <input type="text" class="form-control" id="desc" value="<%= task.description %>" name="description"
                        aria-describedby="description" placeholder="Description" />
                    <input type="text" class="form-control" id="tags" name="tags" value="<%= task.tags.join(" ") %>" aria-describedby="tags"
                        placeholder="Tags separated with space" />
                    <label for="date">Due date:</label>
                    <input class="form-control" type="datetime-local" value="<%= task.date %>" name="date"
                        id="date">
                    <label for="reminder">Reminder:</label>
                    <input class="form-control" type="datetime-local" value="<%= task.reminder %>"
                        name="reminder" id="reminder">
                    <div class="col-sm-10">
                        <div class="form-check">
                            <label class="form-check-label">
                                <% if (task.status == "TODO") { %>
                                <input class="form-check-input" type="radio" name="status" id="gridRadios1" value="TODO"
                                    checked>
                                <% } else { %>
                                <input class="form-check-input" type="radio" name="status" id="gridRadios1"
                                    value="TODO">
                                <% } %>
                                TODO
                            </label>
                        </div>
                        <div class="form-check">
                            <label class="form-check-label">
                                <% if (task.status == "IN PROGRESS") { %>
                                <input class="form-check-input" type="radio" name="status" id="gridRadios1"
                                    value="IN PROGRESS" checked>
                                <% } else { %>
                                <input class="form-check-input" type="radio" name="status" id="gridRadios1"
                                    value="IN PROGRESS">
                                <% } %>
                                IN PROGRESS
                            </label>
                        </div>
                        <div class="form-check">
                            <label class="form-check-label">
                                <% if (task.status == "DONE") { %>
                                <input class="form-check-input" type="radio" name="status" id="gridRadios1" value="DONE"
                                    checked>
                                <% } else { %>
                                <input class="form-check-input" type="radio" name="status" id="gridRadios1"
                                    value="DONE">
                                <% } %>
                                DONE
                            </label>
                        </div>
                    </div>
                </div>
                <button type="submit" class="btn btn-primary">Update</button>
            </form>
        </div>
    </main>
</body>
<footer><%- include('partials/footer'); %></footer>

</html>